<div class="bg-neutral py-1.5 text-center text-xs text-neutral-content md:text-sm">
  <span>
    Transform Months into Days with AI-Enhanced Buildathons
  </span>
</div>

<div
  id="navbar-wrapper"
  class="sticky top-0 z-10 border-b bg-base-100 lg:bg-opacity-95 lg:backdrop-blur-sm"
  x-data="{ atTop: false }"
  :class="{ 'border-base-content/10': atTop, 'border-transparent': !atTop}"
  @scroll.window="atTop = (window.pageYOffset < 30) ? false: true">
  <div class="container">
    <nav class="navbar px-0">
      <div class="navbar-start gap-2">
        <div class="flex-none lg:hidden">
          <label for="my-drawer" id="my-drawer-trigger" aria-label="open sidebar" class="btn btn-square btn-ghost">
            <i class="icon-menu inline-block text-xl"></i>
          </label>
        </div>

        <!-- Navbar Brand logo -->
        <a href="index.html" class="text-xl font-bold tracking-tighter">
          <img src="assets/images/logo.svg" alt="OpenUnited Logo" class="h-7">
        </a>
      </div>

      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal menu-sm gap-2 px-1">
          <li class="font-medium"><a href="about.html">About Us</a></li>
          <li class="font-medium"><a href="how-it-works.html">How It Works</a></li>
          <li class="font-medium"><a href="features.html">Features</a></li>
          <li class="font-medium"><a href="why-openunited.html">Why OpenUnited?</a></li>
        </ul>
      </div>

      <div class="navbar-end gap-3">
        <a class="btn btn-ghost btn-sm" onclick="register_modal.showModal()">Sign in</a>
        <a class="btn btn-primary btn-sm" onclick="login_modal.showModal()">Get Started Free</a>
      </div>
    </nav>

    <!-- sm screen menu (drawer) -->
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>

        <ul class="menu min-h-full w-80 gap-2 bg-base-100 p-4 text-base-content">
          <li class="font-medium"><a href="index.html">Home</a></li>
          <li class="font-medium"><a href="about.html">About Us</a></li>
          <li class="font-medium"><a href="how-it-works.html">How It Works</a></li>
          <li class="font-medium"><a href="features.html">Features</a></li>
          <li class="font-medium"><a href="why-openunited.html">Why OpenUnited?</a></li>
          <li class="font-medium"><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
